@font-face {
    font-family: "SF Pro";
    src:
      url("/fonts/OpenSans-Regular-webfont.woff2") format("woff2"),
      url("/fonts/OpenSans-Regular-webfont.woff") format("woff");
  }

  @font-face {
    font-weight: 400;
    font-family: "SF Pro";
    src: url("/fonts/SF-Pro-Display-Regular.otf")
  }
  
  @font-face {
    font-weight: 500;
    font-family: "SF Pro";
    src: url("/fonts/SF-Pro-Display-Medium.otf")
  }
  
  @font-face {
    font-weight: 600;
    font-family: "SF Pro";
    src: url("/fonts/SF-Pro-Display-Semibold.otf")
  }

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
    font-weight: 500;
    font-family: "SF Pro", Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 18px;
    letter-spacing: -0.02rem;
    color: #161616;
    -webkit-font-smoothing: antialiased;
    /* background-color: #f4f4f6; */
    background-color: #fff;
}

:root {
    --content-width: 1320px;
    --grobalheader-height: 100px;
}

button, input {
    font-family: "SF Pro", Helvetica, sans-serif;
    cursor: pointer;
}

ul {
    list-style: none;
}

a {
    color: #161616;
    text-decoration: none;
}

h1, h2, h3, h4 {
    line-height: 1;
    letter-spacing: -0.04rem;
    font-weight: 600;
}

h1 {
    /* font-size: 76px; */
    font-size: 84px;
}

h2 {
    font-size: 56px;
}

h3 {
    font-size: 32px;
}

main {
    padding-top: var(--grobalheader-height);
}

.uptitle {
    font-size: 21px;
    letter-spacing: 0.1px;
    font-weight: 700;
    color: #c04e2b;
    margin-bottom: 40px;
}

.title {
    margin-bottom: 24px;
}

.text {
    margin-bottom: 24px;
    line-height: 1.28571429;
}

.globalheader {
    position: absolute;
    width: 100%;
    z-index: 9999;
    /* background-color: #fff; */
    height: var(--grobalheader-height);;
}

.globalheader-content {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: var(--content-width);
}

.globalnav-list {
    display: flex;
}

.globalnav-link {
    font-size: 14px;
    padding-inline: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.logo {

}

.logo-text {
    font-size: 31px;
    letter-spacing: -0.04px;
    font-weight: 600;
}

.foot-content {
    margin: 0 auto;
    max-width: var(--content-width);
}

.button {
    align-items: center;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 8.6px;
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
    display: inline-flex;
    font-size: 14px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.6;
    min-height: 36px;
    /* padding: 8px 36px; */
    padding: 10px 36px;
    position: relative;
    transition: all 250ms;
    width: auto;
}

.button--primary {
    background-color: #161616;
    color: #fff;
}

.button--primary:hover {
    background-color: #333;
}

.area--rounded {
    padding-inline: 20px;
    padding-top: 15px;
}

.area-container {
    position: relative;
    margin: 0 auto;
    /* padding-top: 140px; */
    /* padding-bottom: 140px; */
    border-radius: 12.8px;
    overflow: hidden;
}

.area-content {
    position: relative;
    z-index: 100;
}

.area-bg {
    background: #161413;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.image {
    border-radius: 12.6px;
}

.ar-head {
    display: flex;
    flex-direction: column;
}

.ar-head--center {
    align-items: center;
}

.ar-head--center > .uptitle,
.ar-head--center > .title {
    text-align: center;
}

.card-grid {
    display: flex;
    flex-wrap: wrap;
    padding-inline: 20px;
    margin-inline: -10px;
}

.card-item {
    background-color: #F5F5F5;
    border-radius: 12.8px;
    width: calc(50% - 20px);
    margin: 10px;
    padding: 24px;
}

.card-foot {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-foot-title {
    text-align: center;
    margin-bottom: 24px;
}

.card-foot-text {
    text-align: center;
    max-width: 360px;
}

.card-image {
    margin: 24px auto;
    display: block;
}

.pt-image {
    max-width: 960px;
}

.pitch {
    width: 100%;
    overflow: hidden;
    padding-inline: 20px;
}

/* VERSION 1 */

/* .form-blurred {
    display: flex;
    align-items: center;
    margin-top: 24px;
}

.form-blurred-control {
    font-size: 14px;
    height: 40px;
    border-radius: 8.6px;
    border: none;
    margin-top: 24px;
    background-color: hsla(0,0%,100%,.2);
    backdrop-filter: blur(10px);
    width: 320px;
    margin-top: 0;
    margin-right: 8px;
    padding: 8px 18px;
}

.form-blurred-button {
    height: 40px;
    border: none !important;
    border-radius: 8.6px;
    font-size: 14px;
    font-weight: 600;
    padding: 8px 36px;
    color: #161616;
    background-color: #f9cdcd;
}  */

/* VERSION 2 */

/* .form-blurred {
    display: flex;
    align-items: center;
    margin-top: 48px;
    background-color: hsla(0,0%,100%,.2);
    backdrop-filter: blur(10px);
    padding: 4.2px;
    border-radius: 12.8px;
    width: 420px;
    justify-content: space-between;
}

.form-blurred-control {
    font-size: 14px;
    height: 40px;
    border-radius: 8.6px;
    border: none;
    margin-top: 0;
    margin-right: 8px;
    padding: 8px 18px;
    background: none;
}

.form-blurred-control::placeholder {
    font-size: 14px;
}

.form-blurred-button {
    height: 40px;
    border: none !important;
    border-radius: 8.6px;
    font-size: 14px;
    font-weight: 600;
    padding: 8px 36px;
    color: #161616;
    background-color: #f9cdcd;
} */

/* VERSION 3 */

.form-blurred {
    display: flex;
    align-items: center;
    margin-top: 48px;
    background-color: hsla(0,0%,100%,.2);
    backdrop-filter: blur(10px);
    padding: 4.2px;
    border-radius: 12.8px;
    width: 100%;
    justify-content: space-between;
}

.form-blurred-control {
    font-size: 16px;
    height: 40px;
    border-radius: 8.6px;
    border: none;
    margin-top: 0;
    margin-right: 8px;
    padding: 8px 18px;
    background: none;
}

.form-blurred-control::placeholder {
}

.form-blurred-button {
    line-height: 1.6;
    padding: 10px 36px;
    border: none !important;
    border-radius: 8.6px;
    font-size: 14px;
    font-weight: 600;
    color: #161616;
    background-color: #f9cdcd;
} 

